.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 33%;

  .logo {
    pointer-events: none;
  
    @media (prefers-reduced-motion: no-preference) {
      animation: App-logo-spin infinite 15s linear;
    }
  
    @keyframes App-logo-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
      
}

