.container {
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(68, 71, 71);
  -webkit-box-shadow: -2px 8px 8px 1px rgba(68,68,68,0.67); 
  box-shadow: -2px 8px 8px 1px rgba(68,68,68,0.67);
}